.h-root{
    background-color: var(--clr-bgr-home);
}
.h-del-frame{
    padding: 10px;
    border: 1px dashed var(--clr-txt-secondary);
    border-radius: 10px;
    flex-grow: 1;
}
.h-content-frame{
    background-color: white;
    border-radius: 10px;
    padding: 20px;
}
.h-content{
    display: flex;
    gap: 20px;
}
.h-ctn{
    flex-grow: 1;
    padding: 25px;
}
.h-form{
    display: flex;
}
.h-header{
    font-size: 23px;
    font-weight: 600;
    margin-bottom: 20px;
}
.h-header-content{
    text-align: center;
    padding: 5px;
}
.h-txt-header{
    font-weight: 600;
}