.reg-form{
    padding: 20px;
    border-radius: 10px;
}
.reg-dr{
    background-color: var(--clr-input);
}
.dr-btn{
    background-color: var(--clr-btn-light);
    color: var(--clr-txt-primary);
    border: 1px solid #DDDDDD;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px;
}
.dr-btn:hover{
    background-color: var(--clr-btn-light) ;
    color: var(--clr-txt-primary) ;
    border: 1px solid #DDDDDD;
}
.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
    color:  var(--clr-txt-primary);
    background-color:var(--clr-btn-light);
    border: 1px solid #DDDDDD;
}
.img-front-frame{
    max-height: 300px;
    width: auto;
    border-radius: 15px;
    padding: 20px;
    cursor: pointer;
    object-fit: cover;
    margin-bottom: 20px;
    position: relative;
}
.background-front{
    background-color: #DDDDDD;
    opacity: 50%;
    width: 350px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    border-radius: 15px;
    z-index: 12;
}
.img-front{
    width: 350px;
    height: 200px;
    border-radius: 15px;
}
.form-group{
    margin-bottom: 15px;
}
.list-vehicle{
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 10px;
}
.reg-header{
    font-weight: 800;
}
#driver_image_front, #driver_image_back {
    display: none;
}
.driving-txt{
    color: gray;
    opacity: 70%;
    font-size: 14px;
}