.reg-form{
    box-shadow: 0 1px 3px -2px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
    padding: 20px;
    border-radius: 10px;
}
.dr-btn{
    background-color: var(--clr-btn-light);
    color: var(--clr-txt-primary);
    border: 1px solid #DDDDDD;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dr-btn:hover{
    background-color: var(--clr-btn-light) ;
    color: var(--clr-txt-primary) ;
    border: 1px solid #DDDDDD;
}
.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
    color:  var(--clr-txt-primary);
    background-color:var(--clr-btn-light);
    border: 1px solid #DDDDDD;
}
.img-front{
    max-height: 300px;
    width: auto;
    text-align: center;
    margin: 0 auto;
    border: 1px dashed black;
    border-radius: 15px;
    padding: 30px;
    cursor: pointer;
    object-fit: cover;
    margin-bottom: 20px;
}
.form-group{
    margin-bottom: 15px;
}
.list-vehicle{
    display: grid;
    grid-template-columns: auto auto auto;
}
.reg-header{
    font-weight: 600;
}
#driver_image_front, #driver_image_back {
    display: none;
}