.nav-auth-form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
}
.nav-form{
}
.nav-auth-icon-notify{
    font-size: 25px;
    color: #4e4e4e;
    cursor: pointer;
}
.nav-avatar{
    background: none !important; 
    border: none !important;
    padding: 0 !important;
    width: 40px !important;
    box-shadow: none !important;
    vertical-align: middle !important;
    gap: 10px;
    width: fit-content !important;
}
.nav-avatar-img{
    margin: 0;
    padding: 0;
    border-radius: 50%;
    display: inline-block;
}
.nav-auth{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.nav-menu{
    transform: translate(-21%,25px);
    border-radius: none;
}
.nav-menu-topic{
    display: flex !important;
    justify-content: start;
    align-items: center;
    gap: 10px;
}
.nav-menu-topic-icon {
    font-size: 16px;
}
.avatar-form{
    margin-right: 20px;
}
.user-name{
    display: inline-block;
    margin: 0;
    flex-grow: 1;
}
.txt-name{
    display: inline-block;
    color: #6666;
    margin: 0;
    padding: 0 10px;
}
.nav-logo-frame{
    padding-left: 20px;
}
.notify-form{
    position: absolute;
    background-color: white;
    padding: 20px;
    max-width: 300px;
    right: 0;
    transform: translate(-100px,34px);
}
.notify-form-content{
    width: 100%;
}
.notify-header{
    font-size: 18px;
    font-weight: 700;
    user-select: none;
}
.notify-title{
    font-size: 16px;
    margin-bottom: 5px;
    font-weight: 600;
}