.sbar-root{
    background-color: white;
    min-height: 100vh;
    width: 290px;
}

.sbar-header{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 25px;
}

.sbar-txt{
    font-weight: 600;
    margin: 0;
    padding: 0 7px;
}

.sbar-icon-frame{
    font-size: 18px;
}
.sbar-icon{
    font-size: 20px;
    transform: translateY(-1px);
    margin-right:10px;
}

.sbar-link{
    text-decoration: none;
    color: var(--clr-txt-primary);
    display: flex;
    margin: 12px 0;
    align-items: center;
    border-left: 4px solid white;
    padding: 10px 20px;
}
.sbar-link:hover{
    text-decoration: none;
    color: var(--clr-txt-primary);
}
.sbar-link-active{
    color: var(--clr-primary);
    text-decoration: none;
    background-color: var(--clr-primary-light);
    color: var(--clr-primary);
    display: flex;
    margin: 12px 0;
    align-items: center;
    border-left: 4px solid var(--clr-primary);
    padding: 10px 20px;
}
.sbar-link-active:hover{
    color: var(--clr-primary);
    text-decoration: none;
}