
.nav-ctn-1{
    display: flex;
}

.nav-ctn-2{
    display: flex;
    gap:20px;
}

.nav-txt{
    font-weight: 600;
    color: var(--clr-txt-primary);
    font-size: var(--font-size-header);
}

.nav-logo-frame{
    padding-right: 100px;
}
.nav-txt-btn{
    font-weight: 600;
    size: 16px;
    margin-right: 10px;
}
.nav-link{
    text-decoration: none;
}