:root{
  --clr-primary: #f2a13b;
  --clr-secondary: #ffffff;
  --clr-txt-primary: rgba(17,17,17,.85);
  --clr-light: #FFF4E5;
  --clr-txt-secondary: #666666;
  --font-size: 15px;
  --font-family: 'Montserrat',sans-serif;
}

* {
  box-sizing: border-box;
}

html {
  font-size: var(--font-size);
}

body {
  font-family: var(--font-family);
}

.img-auto-flex {
  width: 100%;
  height: 100%;
}
.my-btn-yellow{
  color:var(--clr-txt-primary);
  font-weight: 600;
  background-color: var(--clr-primary);
  border: none;
  width: fit-content;
  font-size: 0.85em;
  font-family: var(--font-family);
  border-radius: 30px;
  padding: 10px 25px;
}
.my-btn-yellow :active{
  color: var(--clr-txt-primary);
  background-color: var(--clr-primary);
  border:none;
}
.my-btn-yellow:hover{
  color:var(--clr-txt-primary);
  background-color: var(--clr-primary);
  border: none;
}

.my-btn-white{
  color:var(--clr-btn-light);
  background-color: var(--clr-btn-light);
  color: var(--clr-btn-warning);
  border: 1px solid var(--clr-btn-warning);
  font-weight: 800;
  width: fit-content;
  text-transform: uppercase;
  font-family: var(--font-family);
  border-radius: 10px;
  font-size: 0.85em;
  padding: 7px 12px;
}
.my-btn-white:active{
  color: var(--clr-btn-light);
  background-color: var(--clr-btn-warning);
  border-color: var(--clr-btn-light);
}

.my-btn-white:hover{
  color: var(--clr-btn-light);
  background-color: var(--clr-btn-warning);
  border: 1px solid var(--clr-btn-warning);
}
.txt-center{
  text-align: center;
}

.label{
  font-weight: 600;
  font-size: 1.1rem;
  display: inline;
}
.asterisk{
  color: red;
  display: inline;
  font-weight: 1000;
  padding-left: 3px;
}
.eyes-pass{
  position: absolute;
  right: 0;
  top: 0;
  font-size: 20px;
  z-index: 3;
  transform: translate(-45%,5%);
}
.frame-pass{
  position: relative;
}
@keyframes sparkle {
  0% { 
      background-position: 0px 0px,0px 0px,0px 0px
  }

  100% {
      background-position: -500px -1000px,-400px -400px,300px 300px
  }
}  

@-webkit-keyframes fadeLeft{
    from{
      opacity: 0;
      -webkit-transform: translateX(-50px);
      transform: translateX(-50px);
    }
    to{
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
}
@keyframes fadeLeft{
  from{
    opacity: 0;
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
  }
  to{
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.fadeLeft{
  -webkit-animation:fadeLeft 0.8s 0.8s;
  animation: fadeLeft 0.8s 0.8s;
  animation-fill-mode:both;
  -webkit-animation-fill-mode:both;
}
.fadeLeft-slower{
  -webkit-animation:fadeLeft 1.3s 1.3s;
  animation: fadeLeft 1.3s 1.3s;
  animation-fill-mode:both;
  -webkit-animation-fill-mode:both;
}


@-webkit-keyframes fadeRight{
  from{
    opacity: 0;
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
  }
  to{
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeRight{
from{
  opacity: 0;
  -webkit-transform: translateX(50px);
  transform: translateX(50px);
}
to{
  opacity: 1;
  -webkit-transform: none;
  transform: none;
}
}
.fadeRight{
  -webkit-animation:fadeRight 0.8s 0.8s;
  animation: fadeRight 0.8s 0.8s;
  animation-fill-mode:both;
  -webkit-animation-fill-mode:both;
}


@-webkit-keyframes fadeDown{
  from{
    opacity: 0;
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
  }
  to{
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeDown{
from{
  opacity: 0;
  -webkit-transform: translateY(-50px);
  transform: translateY(-50px);
}
to{
  opacity: 1;
  -webkit-transform: none;
  transform: none;
}
}
.fadeDown{
  -webkit-animation:fadeDown 0.8s 0.8s;
  animation: fadeDown 0.8s 0.8s;
  animation-fill-mode:both;
  -webkit-animation-fill-mode:both;
}

input[type="checkbox"]:checked{
  background-color: #f2a13b;
}
input[type="checkbox"]:checked::before{
  background-color: #f2a13b;
}
input[type="checkbox"]:checked::after{
  background-color: #f2a13b;
}
input[type="checkbox"]:active{
  background-color: #f2a13b;
}

.fr-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.fr-checkbox{
  display: block;
  position: relative;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border: 2px solid #666666 ;
  border-radius: 3px;
}
input:checked ~ .checkmark {
  background-color: var(--clr-primary);
  border: 2px solid var(--clr-primary) ;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.container input:checked ~ .checkmark:after {
  display: block;
}
.fr-checkbox .checkmark:after {
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid var(--clr-light);
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.txt-checkbox{
  margin-left: 30px;
  font-weight: 600;
}
.override-block{
  width: 20px;
  height: 20px;
  background-color: white;
  z-index: 2;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 20px;
  transform: translate(-45%,40%);
}